@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

body {
  background: beige;
}

* {
  font-family: 'Itim', cursive;
  font-weight: bold;
}

header {
  display: flex;
  justify-content: center;
}

h1 {
  padding-top: 5%;
  padding-left: 2%;
  padding-bottom: 2%;
  font-size: 45px;
}

h2 {
  margin: 0;
  font-size: 35px;
}

main {
  display: flex;
  justify-content: center;
}

.one {
  display: flex;
  flex-direction: column;
  margin-right: 10%;
}

.two {
  margin-left: 5%;
}

.button-section {
  display: flex;
}

.scores {
  list-style: none;
  border: 3px solid black;
  padding-left: 0;
}

.scores > li:nth-child(odd) {
  background-color: #dddddd75;
}

.each-score {
  padding: 5px;
  font-size: 15px;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
}

#refresh {
  padding: 0 10px;
  margin: 0 35px;
  border: 2px solid black;
  background: transparent;
  font-weight: bold;
  box-shadow: 2px 3px;
  font-size: 15px;
}

input[type=text] {
  margin-bottom: 20px;
  font-size: 15px;
  border: 3px solid black;
}

#submit {
  padding: 4px 15px;
  align-self: self-end;
  background: transparent;
  font-weight: bold;
  box-shadow: 2px 3px;
  border: 2px solid black;
  font-size: 15px;
}

::placeholder {
  color: black;
  opacity: 0.7;
}

button:hover {
  color: #000000b3;
}
